*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    width: 100%;
    height: 100%;
    background-color: #116688;
}

.code{
    margin: 50px 470px 0 470px;
    width: 500px;
    height: 150px;
    background-color: #eee;
    font-family: 'Courier New', Courier, monospace;
}

code{
    font-family: 'Courier New', Courier, monospace;
}

.blue{
    color:#0000ff;
}

.yellow{
    color:#ffbb00;
}

.red{
    color: #ff0000;
}